
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

body {
  display: flex;
  justify-content: center;
  background: black;
  color: white;
}


:root {
  --blink-time: 1.5s;
}

.blink {
  animation: var(--blink-time) blinker linear infinite;
  -webkit-animation: var(--blink-time) blinker linear infinite;
  -moz-animation: var(--blink-time) blinker linear infinite;
}

@-moz-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button {
  margin: 5px;
  height: 40px;
  width: 100px;
}

.box-app {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 360px;
}

.block-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-content: center;

  border: 1px solid #ccc;
  margin-top:10px;
  margin-bottom:10px;
  padding: 20px;
}

.box-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin-top:10px;
}

.box-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:20px;
  width: 96%;
}

.box {
  width: 100px;
  height: 100px;
  margin: 6px;
  border:3px solid #000;
  cursor: pointer;
}

.info-controls {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #ccc;
  margin-top:10px;
}

.info-controls ul {
  list-style: none;
  margin:0;
  padding: 0;
}

.info-controls ul li {
  margin:15px;
  text-align: left;
}


.box-green {
  background: green;
}
.box-green.current {
  border: 3px solid white;
  background-color: darkseagreen;
}

.box-red {
  background: red;
}

.box-red.current {
  border: 3px solid white;
  background: indianred;
}

.box-blue {
  background: blue;
}

.box-blue.current {
  border:3px solid white;
  background-color: cornflowerblue;
}

.box-yellow {
  background: yellow;
}

.box-yellow.current {
  border:3px solid white;
  background-color: lightgoldenrodyellow;
}

