/*
@media screen and (min-width: 320px) and (max-width: 967px)  {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}*/

/* evitar scroll */
/*html, body {margin: 0; overflow: hidden}*/

body {
  display: flex;
  justify-content: center;
  background: black;
  color: white;
  padding: 10px;
}

button {
  margin: 5px;
  height: 40px;
  width: 100px;
}

.box-app {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.box-model {
  width: 120px;
  height: 200px;
}

.box-board {
  width: 300px;
  height: 300px;

  display: flex;
  align-items: center;
  flex-direction: column;

}

.box-board .command {
  width: 300px;
  height: 300px;
}

.box-board .command-blue-magic {
  background-image: url(./img/blue-background-circle.gif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
}

.box-board .command-red-magic {
  background-image: url(./img/red-background.gif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
}

.box-board .command-green-magic {
  background-image: url(./img/green-background-smoke.gif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
}

.hide {
  display: none;
}

.box-model-control {

  position: fixed;
  top: 345px;
  width: 108px;

  display: flex;
  align-items: center;
  flex-direction: column;

}

.left {
  left: 0;
}

.right {
  right: 0;
}

.box-buttons-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 170px;
  width: 96%;

}


.block-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-content: center;

  border: 1px solid #ccc;
  margin-top:10px;
  margin-bottom:10px;
  padding: 20px;
  width: 306px;
}

.box-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin-top:10px;

}

.box-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:20px;
  width: 96%;
}

.box {
  width: 70px;
  height: 70px;
  margin-bottom: 14px;
  border:3px solid #000;
  cursor: pointer;
  border-radius: 60%;
}

.board {
  display: flex;
  width: 60%;
  height: 100%;
  justify-content: flex-start;
  border: 1px solid #ccc;
  margin-top:10px;
}

.info-controls {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #ccc;
  margin-top:10px;
  width: 100%;
}

.info-controls ul {
  list-style: none;
  margin:0;
  padding: 0;
}

.info-controls ul li {
  margin:15px;
  text-align: left;
}


.box-green {
  background: green;
}
.box-green.current {
  border: 3px solid white;
  background-color: darkseagreen;
}

.box-red {
  background: red;
}

.box-red.current {
  border: 3px solid white;
  background: indianred;
}

.box-blue {
  background: blue;
}

.box-blue.current {
  border:3px solid white;
  background-color: cornflowerblue;
}

.box-yellow {
  background: yellow;
}

.box-yellow.current {
  border:3px solid white;
  background-color: lightgoldenrodyellow;
}


.select-magic {
  display: flex;
  flex-direction: row;
  margin-top: 175px;
}
