
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

body {
  background: black;
  color: white;
}


:root {
  --blink-time: 1s;
}

.blink {
  animation: var(--blink-time) blinker linear infinite;
  -webkit-animation: var(--blink-time) blinker linear infinite;
  -moz-animation: var(--blink-time) blinker linear infinite;
}

@-moz-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button {
  margin: 5px;
  height: 40px;
  width: 100px;
}

.box-app {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.box-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top:10px;
}

.box-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:20px;
  width: 96%;
}

.box {
  width: 100%;
  height: 90px;
  margin-bottom:10px;
  cursor: pointer;
}

.box-green {
  background: green;
}

.box-red {
  background: red;
}

.box-blue {
  background: blue;
}

.box-yellow {
  background: yellow;
}

